@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.coctailCart {
  @include flex(column, center, center);
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 4/4;
  overflow: hidden;
  transition: $transition;

  img {
    @include img;
    object-fit: cover;
  }
}

.content {
  padding: 1rem 1.25rem 1.25rem;
  text-align: center;

  @include sm-max {
    padding: 0.75rem;
    width: 100%;
  }

  .name {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }

  .category {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 0.4rem;
  }

  .type {
    font-size: 0.85rem;
    color: var(--text);
    margin-bottom: 1rem;
  }
}

.detailsBtn {
  @include btn();
  border-radius: $border-radius;
  font-size: 0.85rem;

  @include sm-max {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
}

