@forward 'normalize';
@forward 'variables';
@forward 'mixins';
@forward 'theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, var(--bg) 0%, var(--bg) 100%);
  font-family: var(--base-font-family);
  line-height: 1.5;
  color: var(--text);
  font-size: var(--base-font-size);
  letter-spacing: 0.5px;
  overflow: visible;
  line-height: 1.7;
  text-align: justify;
  white-space: normal;
}



a {
  color: var(--text);
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: 0.7px;

  &:hover {
    text-decoration: none;
    color: var(--main-color);
  }
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}
