@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.text {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    color: var(--accent);
  }
}
